@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #461220;
  --second-bg-color: #722036;
  --text-color: #f3d8cc;
  --main-color: #fcb1a9;
}

html {
  @apply text-base overflow-x-hidden;
}

body {
  @apply bg-[var(--bg-color)] text-[var(--text-color)];
}

section {
  @apply min-h-screen py-40 px-[9%];
}
